body {
    margin: 1.5em;
    margin-top: 50px;
}

.hidden {
    display: none;
    visibility: hidden;
}

#step_1_form input {
    margin-top: 5px;
    margin-bottom: 5px;
}

td.map-to {
    cursor: pointer;
}

#master-table.being-selected td {
    background-color: rgba(220, 255, 220, .5);
    cursor: pointer;
}

#master-table.being-selected td:hover {
    background-color: rgba(220, 255, 220, 1);
}

#master-table.being-deleted td {
    background-color: rgba(255, 220, 220, .5);
    cursor: pointer;
}

#master-table.being-deleted td:hover {
    background-color: rgba(255, 220, 220, 1);
}

#master-table.being-renamed td {
    background-color: rgba(220, 220, 255, .5);
    cursor: pointer;
}

#master-table.being-renamed td:hover {
    background-color: rgba(220, 220, 255, 1);
}

.match-hover {
    background-color: rgba(200, 200, 200, .5);
}

.select-hover {
    background-color: rgba(200, 200, 255, .5);
}

.currently-selected {
    background-color: rgba(200, 200, 255, .5) !important;
}

.mlbut {
    margin-bottom: 5px;
}

#master-table.select-match td {
    cursor: pointer;
}

#master-table.select-match td:hover {
    background-color: rgba(220, 220, 220, 1);
}

td.match-picked {
    background-color: rgba(200, 255, 200, .5);
}

td.master-td.invalid {
    background-color: rgba(255, 200, 200, .5);
    cursor: not-allowed !important;
}
.text-center {
    text-align: center;
}